
<div class ="jumbotron center">
	<h1>Welcome to my app!!</h1>
	<!-- # <p>Sign up <a href="#">here.</a></p> -->
	<!-- # easier way -->
	<p> 
   <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %> 
	 <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %> 

	</p>
</div>